<!DOCTYPE html>
<html>
<head>
  <title>My awesome site — sung by Sinatra</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="container">
    <h1>From server to browser</h1>
    <h3>Served to you by Frankie himself</h3>
    <p>All of the content and HTML on this page was fired down some pipes by <a href="http://www.sinatrarb.com">Sinatra</a>.</p>
    <h3>Sinatra</h3>
    <p>Sinatra is a Ruby framework that allows you to build simple web servers and respond to <a href="https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol">HTTP requests</a>.</p>
    <h3>Yours to play with</h3>
    <p>This HTML is stored in your views folder. You could change the HTML in this file, or you could even respond with an entirely new file!</p>
  </div>
</body>
</html>
